<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{::script})">
<title>View Patient Obstetrics Records</title>
<script th:src="@{/resources/js/dateTimeService.js}"
	src="../resources/js/dateTimeService.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
		/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes. */
        /*<![CDATA[*/
        var app = angular.module('myApp', ['dateTimeServices']);

        /**
         * A filter to humanize the text to be more user friendly.
         */
        app.filter('humanize', function() {
            return function (input) {
                return input.toLowerCase().split('_')
                    .map((word) => word.charAt(0).toUpperCase() + word.substring(1))
                    .join(' ');
            }
        });

        app.controller('documentLaborAndDeliveryReports', function ($scope, $http, dateTimeService) {
            $scope.eyeDiagnoses = ['cataracts', 'age-related macular degeneration', 'amblyopia', 'glaucoma'];

            /*method for checking added perscriptions for vailidity*/
            var checkValidPrescription = function (p) {
                var err = [];
                if (!p.drug) {
                    err.push("Prescription must be associated with a drug");
                }
                if (!dateTimeService.isValidDate(p.startDate)) {
                    err.push("Start date is in an invalid format");
                }
                if (!dateTimeService.isValidDate(p.endDate)) {
                    err.push("End date is in an invalid format");
                }
                if (p.startDate > p.endDate) {
                    err.push("Start date must be earlier than end date");
                }
                if (!/^\+?\d+$/.test(p.dosage)) {
                    err.push("Dosage must be a positive integer");
                }
                if (!/^\+?\d+$/.test(p.renewals)) {
                    err.push("Renewals must be an integer zero or more");
                }

                return err.join(". ");
            }

            /*Method for checking added diagnoses for validity*/
            var checkValidDiagnosis = function (d) {
                var err = [];
                if (!d.code) {
                    err.push("Diagnosis must be associated with a diagnosis code");
                }
                return err.join(". ");
            }

            var checkValidProcedure = function (p) {
                var err = [];
                if (!p.loinc) {
                    err.push("Lab procedure must be associated with a diagnosis code");
                }
                if (!p.priority) {
                    err.push("Lab procedure must have an associated priority");
                }
                if (!p.labtech) {
                    err.push("Lab procedure must have an associated lab tech");
                }
                return err.join(". ");
            }

            $scope.three = false;
            $scope.threeAndUp = false;
            $scope.twelveAndUp = false;
            
            $scope.yesOrNo = ['true', 'false'];
            
            $scope.getWeeksPregnant = function (lmp) {
            	var today = new Date();
            	var estimateDate = "" + lmp;
            	var year = estimateDate.substring(0, 4);
            	var month = estimateDate.substring(5, 7);
            	var day = estimateDate.substring(8);
            	var estimate = new Date(year, month - 1, day);
            	var difference = today.getTime() - estimate.getTime();
            	var daysSince = Math.floor( difference / 86400000 );
            	var weeksSince = Math.floor( daysSince / 7 );
            	return weeksSince;
            }
            
            $scope.checkObstetricsPatient = function (patient) {
            	// set default to male (non obstetrics)
            	$scope.types = $scope.maleTypes;
             	// Get the obstetrics records for this patient
                $http.get("/iTrust2/api/v1/obstetricsRecord/" + patient.self.username).then(
                    function (response) {
                        var obstetricsRecords = response.data || {};
                        
                        var currentRecords = obstetricsRecords.filter(value => value.currentRecord);
                        if (currentRecords.length > 0) {
                            var currentRecord = currentRecords[0];
                            $scope.visit.weeksPregnant = $scope.getWeeksPregnant(currentRecord.lmp);
                            if ($scope.visit.weeksPregnant < 49) {
                                $scope.types = $scope.femaleTypes;
                                return;
                            }
                        }
                        // If the previous office visit type was an obstetrics record, and we got here
                        // then we need to set it to general checkup instead.
                        if ($scope.visit.type === 'GENERAL_OBSTETRICS') {
                        	$scope.visit.type = 'GENERAL_CHECKUP';
                        }
                    });
            }

            /**
             * Validates birthdate here when patient is selected.
             */
            $scope.patientSelect = function (patient) {
                if (!$scope.visit) {
                    return;
                }
                
             	// Check if this is a valid obstetrics patient (female, LMP less than 49 wks prior)
                $scope.checkObstetricsPatient(patient);

                if (!$scope.visit.actualPatient && patient) {
                    $scope.visit.actualPatient = patient;
                } else if (!patient) {
                    if ($scope.visit.actualPatient) {
                        patient = $scope.visit.actualPatient;
                    } else {
                        // We don't have enough information to continue
                        return;
                    }
                }

                if (!patient.dateOfBirth) {
                    // We don't know DoB so submit everything
                    $scope.three = true;
                    $scope.threeAndUp = true;
                    $scope.twelveAndUp = true;
                    return;
                }

                $scope.three = false;
                $scope.threeAndUp = false;
                $scope.twelveAndUp = false;

                if (!dateTimeService.isValidDate($scope.visitInputDate)) {
                    return; // No date yet
                }
                
                const age = dateTimeService.getAge(new Date(patient.dateOfBirth), $scope.visitInputDate);
                if (age < 3) {
                    $scope.three = true;
                }
                if (age >= 3) {
                    $scope.threeAndUp = true;
                }
                if (age >= 12) {
                    $scope.twelveAndUp = true;
                }
            }

            /*Getting a list of patients*/
            $http.get("/iTrust2/api/v1/patients").then(
                function (response) {
                    $scope.patients = response.data;
                });
            /*Getting a list of appointment types*/
            $http.get("/iTrust2/api/v1/appointmenttype")
                .then(function (response) {
                    $scope.types = response.data;
                 	// Create two type lists, one for Males that doesn't include Obstetrics
                    // And the original one for females
                    $scope.femaleTypes = $scope.types;
                    $scope.maleTypes = $scope.types.filter(value => value != 'GENERAL_OBSTETRICS');
                    $scope.types = $scope.maleTypes;
                });                    
            /*Getting a list of house smoking options*/
            $http.get("/iTrust2/api/v1/housesmoking")
                .then(function (response) {
                    $scope.housesmoking = response.data;
                });
            /*Getting a list of patient smoking options*/
            $http.get("/iTrust2/api/v1/patientsmoking")
                .then(function (response) {
                    $scope.patientsmoking = response.data;
                });
            /*Getting a list of hospitals*/
            $http.get("/iTrust2/api/v1/hospitals").then(
                function (response) {
                    $scope.hospitals = response.data;
                });
            /*Getting a list of drugs*/
            $http.get("/iTrust2/api/v1/drugs").then(
                function (response) {
                    $scope.drugs = response.data;
                });
            /*Getting a list of ICD codes*/
            $http.get("/iTrust2/api/v1/icdcodes").then(
                function (response) {
                    $scope.icdcodes = response.data;
                });
            /*Getting a list of ophthalmology surgery types*/
            $http.get("/iTrust2/api/v1/ophthalmologysurgerytype").then(
                function (response) {
                    $scope.surgerytypes = response.data;
                });

            /*Getting a list of laboratory procedures*/
            $http.get("/iTrust2/api/v1/personnel/getbyroles/ROLE_LABTECH").then(
                function (response) {
                    $scope.tech = response.data;
                    var techLength = $scope.tech.length;
                    for (i = 0; i < techLength; i++) {
                        //passing to inner loop taken from https://stackoverflow.com/questions/17244614/passing-variable-to-promise-in-a-loop
                        (function (i) {
                            $http.get("/iTrust2/api/v1/labprocedures/byUser/" + $scope.tech[i].self.username).then(
                                function (response) {
                                    $scope.tech[i].numAssigned = response.data.length;
                                }, function (rejection) {
                                    $scope.tech[i].numAssigned = "UNKNOWN";
                                });
                        })(i);
                    }
                });

            /*Getting a list of lionc codes*/
            $http.get("/iTrust2/api/v1/loinccodes").then(
                function (response) {
                    $scope.loinccodes = response.data;
                });


            /*Checks Basic Health Metrics for correctness*/
            function checkBasicHealthMetrics() {
                if (/^[0-9]{1,3}(\.[0-9]?)?$/.test(String($scope.visit.height).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "Height/length can be up to a 3-digit positive number and potentially one digit of decimal precision\n"
                }
                if (/^[0-9]{1,3}(\.[0-9]?)?$/.test(String($scope.visit.weight).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "Weight can be up to a 3-digit positive number and potentially one digit of decimal precision\n"
                }
                if ($scope.three && /^[0-9]{1,3}(\.[0-9]?)?$/.test(String($scope.visit.headCircumference).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "Head circumference can be up to a 3-digit positive number and potentially one digit of decimal precision\n"
                }
                if ($scope.threeAndUp && /^[0-9]{1,3}$/.test(String($scope.visit.systolic).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "Systolic blood pressure can be up to a 3-digit positive number\n"
                }
                if ($scope.threeAndUp && /^[0-9]{1,3}$/.test(String($scope.visit.diastolic).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "Diastolic blood pressure can be up to a 3-digit positive number\n"
                }
                //handle invalid and outside of range
                if ($scope.twelveAndUp && /^[0-9]{1,2}$/.test(String($scope.visit.hdl).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "HDL cholesterol can be a number between 0 and 90\n"
                } else if ($scope.twelveAndUp) {
                    var hdlInt = parseInt($scope.visit.hdl);
                    if (hdlInt > 90) {
                        $scope.errorMsg += "HDL cholesterol can be a number between 0 and 90\n"
                    }
                }
                //handle invalid and outside of range
                if ($scope.twelveAndUp && /^[0-9]{1,3}$/.test(String($scope.visit.ldl).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "LDL cholesterol can be a number between 0 and 600\n"
                } else if ($scope.twelveAndUp) {
                    var ldlInt = parseInt($scope.visit.ldl);
                    if (ldlInt > 600) {
                        $scope.errorMsg += "LDL cholesterol can be a number between 0 and 600\n"
                    }
                }
                //handle invalid and outside of range
                if ($scope.twelveAndUp && /^[0-9]{1,3}$/.test(String($scope.visit.tri).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "Triglycerides can be a number between 100 and 600\n"
                } else if ($scope.twelveAndUp) {
                    var triInt = parseInt($scope.visit.tri);
                    if (triInt > 600 || triInt < 100) {
                        $scope.errorMsg += "Triglycerides can be a number between 100 and 600\n"
                    }
                }
                if ($scope.visit.houseSmokingStatus == undefined) {
                    $scope.errorMsg += "Please select one of the listed household smoking statuses\n";
                }
                if ($scope.twelveAndUp && $scope.visit.patientSmokingStatus == undefined) {
                    $scope.errorMsg += "Please select one of the listed patient smoking statuses\n";
                }
            }

            /*Checks validity of eye health metrics*/
            function checkEyeHealthMetrics() {
                if (/^[0-9]{1,3}?$/.test(String($scope.visit.visualAcuityOS).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "Visual Acuity OS must be an integer value between 20 and 200 inclusive\n"
                } else if (parseInt($scope.visit.visualAcuityOS) < 20 || parseInt($scope.visit.visualAcuityOS) > 200) {
                    $scope.errorMsg += "Visual Acuity OS must be an integer value between 20 and 200 inclusive\n"
                }

                if (/^[0-9]{1,3}?$/.test(String($scope.visit.visualAcuityOD).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "Visual Acuity OD must be an integer value between 20 and 200 inclusive\n"
                } else if (parseInt($scope.visit.visualAcuityOD) < 20 || parseInt($scope.visit.visualAcuityOD) > 200) {
                    $scope.errorMsg += "Visual Acuity OD must be an integer value between 20 and 200 inclusive\n"
                }

                if (/^[\-\+]?(?=.*\d)\d*(?:\.\d\d?)?$/.test(String($scope.visit.sphereOS)) == false) {
                    $scope.errorMsg += "Sphere OS must be a floating point number up to two digits\n"
                }
                if (/^[\-\+]?(?=.*\d)\d*(?:\.\d\d?)?$/.test(String($scope.visit.sphereOD)) == false) {
                    $scope.errorMsg += "Sphere OD must be a floating point number up to two digits\n"
                }

                if ($scope.visit.cylinderOS != undefined || $scope.visit.cylinderOD != undefined) {
                    if (/^[\-\+]?(?=.*\d)\d*(?:\.\d\d?)?$/.test(String($scope.visit.cylinderOS)) == false) {
                        $scope.errorMsg += "Cylinder OS must be a floating point number up to two digits\n"
                    }
                    if (/^[\-\+]?(?=.*\d)\d*(?:\.\d\d?)?$/.test(String($scope.visit.cylinderOD)) == false) {
                        $scope.errorMsg += "Cylinder OD must be a floating point number up to two digits\n"
                    }
                    
                    if (/^[0-9]{1,3}?$/.test(String($scope.visit.axisOS).replace(/^0+/, '')) == false) {
                        $scope.errorMsg += "Axis OS must be an integer value between 1 and 180 inclusive\n"
                    } else if (parseInt($scope.visit.axisOS) < 1 || parseInt($scope.visit.axisOS) > 180) {
                        $scope.errorMsg += "Axis OS must be an integer value between 1 and 180 inclusive\n"
                    }
                    if (/^[0-9]{1,3}?$/.test(String($scope.visit.axisOD).replace(/^0+/, '')) == false) {
                        $scope.errorMsg += "Axis OD must be an integer value between 1 and 180 inclusive\n"
                    } else if (parseInt($scope.visit.axisOD) < 1 || parseInt($scope.visit.axisOD) > 180) {
                        $scope.errorMsg += "Axis OD must be an integer value between 1 and 180 inclusive\n"
                    }
                }

                if ($scope.visit.type == "OPHTHALMOLOGY_SURGERY" && !$scope.visit.surgeryType) {
                    $scope.errorMsg += "Please select one of the listed surgery types\n";
                }
            }
            
            /* 
             * Checks validity of obstetrics metrics
             * 
             * fetalHeartRate must be ints greater than or equal to 0
             * fundalHeight must be a decimal value (up to 2 decimal digits)
             * isTwins, isLowLyingPlacenta must be selected (non-null)
             */
            function checkObstetricsMetrics() {
                // fetalHeartRate
                if (/^[0-9]{1,3}?$/.test(String($scope.visit.fetalHeartRate).replace(/^0+/, '')) == false) {
                    $scope.errorMsg += "Fetal Heart Rate must be an integer value greater than 0\n"
                } else if (parseInt($scope.visit.fetalHeartRate) < 1) {
                    $scope.errorMsg += "Fetal Heart Rate must be an integer value greater than 0\n"
                }
                
                // fundalHeight
                if (/^(?=.*\d)\d*(?:\.\d\d?)?$/.test(String($scope.visit.fundalHeight)) == false) {
                    $scope.errorMsg += "Fundal Height must be a floating point number up to two digits greater than 0\n"
                } else if (parseFloat($scope.visit.fundalHeight) <= 0) {
                    $scope.errorMsg += "Fundal Height must be a floating point number up to two digits greater than 0\n"
                }
                
				// isTwins
                if ($scope.visit.isTwins == undefined) {
                    $scope.errorMsg += "Please select if the patient has twins\n";
                }
                // isLowLyingPlacenta
                if ($scope.visit.isLowLyingPlacenta == undefined) {
                    $scope.errorMsg += "Please select if the patient has a low lying placenta\n";
                }

                
            }

            /**
             * Checks if any BHM have been entered for OPH visit.
             */
            function validateBasicHealthMetrics() {
                const checkValues = [
                    $scope.visit.height,
                    $scope.visit.weight,
                    $scope.visit.headCircumference,
                    $scope.visit.systolic,
                    $scope.visit.diastolic,
                    $scope.visit.hdl,
                    $scope.visit.ldl,
                    $scope.visit.tri,
                    $scope.visit.patientSmokingStatus,
                    $scope.visit.houseSmokingStatus
                ];

                return checkValues.some((value) => { return value; });
            }

            /*Submit function*/
            $scope.submit = function () {
                $scope.errorMsg = "";
                $scope.message = "";
                $scope.visit.hcp = /*[[${#httpServletRequest.remoteUser}]]*/null; /* Ugly hack; use this to retrieve the name of the HCP who is currently logged in.  This grabs it from Thymeleaf */
                $scope.visit.status = "PENDING";

                // Error checking
                if (!$scope.visit.type) {
                    $scope.errorMsg += "Please select a visit type\n";
                }

                if (!$scope.visit.hospital) {
                    $scope.errorMsg += "Please select a hospital\n";
                }

                // Validate date and time
                var date = new Date($scope.visitInputDate);
                if (!dateTimeService.isValidDate($scope.visitInputDate)) {
                    $scope.errorMsg += "Please input a valid date\n";
                }

                const time = new Date($scope.visitInputTime);
                if (!dateTimeService.isValidDate(time)) {
                    $scope.errorMsg += "Please input a valid time\n";
                }

                date.setHours(time.getHours());
                date.setMinutes(time.getMinutes());
                
                // Check valid date and time combination
                if (!dateTimeService.isValidDate(date)) {
                    $scope.errorMsg += "Please input a valid date and time\n";
                } else {
                    $scope.visit.date = date.toISOString();
                }
                
                /*Submitting Office Visits by type*/
                if ($scope.visit.type === 'GENERAL_CHECKUP') {

                    checkBasicHealthMetrics();
                    if ($scope.errorMsg == "") {
                        $scope.visit.diagnoses = $scope.diagnoses;
                        $scope.visit.prescriptions = $scope.prescriptions;
                        $scope.visit.prescriptions.forEach(function (p) {
                            p.patient = $scope.visit.patient;
                        });

                        $scope.visit.labProcedures = $scope.procedures;
                        
                        $http({
                            method: 'POST',
                            url: '/iTrust2/api/v1/generalcheckups',
                            data: $scope.visit
                        }).then(function (response) {
                            $scope.errorMsg = "";
                            $scope.message = "Office visit created successfully";
                        }, function (rejection) {
                            $scope.message = "";
                            $scope.errorMsg = "Error occurred creating office visit";
                        })
                    }
                } else if ($scope.visit.type === 'GENERAL_OPHTHALMOLOGY') {
                    if (validateBasicHealthMetrics()) {
                        checkBasicHealthMetrics();
                    }

                    checkEyeHealthMetrics();

                    if (!$scope.errorMsg.length) {
                        $scope.visit.diagnosis = $scope.eyediagnoses.join(",");

                        $http({
                            method: 'POST',
                            url: '/iTrust2/api/v1/generalophthalmologies',
                            data: $scope.visit
                        }).then(function (response) {
                            $scope.errorMsg = "";
                            $scope.message = "Office visit created successfully";
                        }, function (rejection) {
                            $scope.message = "";
                            $scope.errorMsg = "Error occurred creating office visit";
                        })
                    }
                } else if ($scope.visit.type === 'OPHTHALMOLOGY_SURGERY') {
                    if (validateBasicHealthMetrics()) {
                        checkBasicHealthMetrics();
                    }

                    checkEyeHealthMetrics();

                    if (!$scope.errorMsg.length) {
                        $http({
                            method: 'POST',
                            url: '/iTrust2/api/v1/ophthalmologysurgeries',
                            data: $scope.visit
                        }).then(function (response) {
                            $scope.errorMsg = "";
                            $scope.message = "Office visit created successfully";
                        }, function (rejection) {
                            $scope.message = "";
                            $scope.errorMsg = "Error occurred creating office visit";
                        })
                    }
                } else if ($scope.visit.type == 'GENERAL_OBSTETRICS') {
                    // Make sure we have our basic health metrics
                    checkBasicHealthMetrics();
                    // Check our obstetrics specific stuff
                    checkObstetricsMetrics();
                    
                    if (!$scope.errorMsg.length) {
                        $http({
                            method: 'POST',
                            url: '/iTrust2/api/v1/generalobstetrics',
                            data: $scope.visit
                        }).then(function (response) {
                            $scope.errorMsg = "";
                            $scope.message = "Office visit created successfully";
                            
                            // Now that we know the office visit was successfully updated,
                            // let's update the obstetrics record
                         	// Get the obstetrics records for this patient
                            $http.get("/iTrust2/api/v1/obstetricsRecord/" + $scope.visit.actualPatient.self.username).then(
                                function (response) {
                                    var obstetricsRecords = response.data;
                                    var updatedRecord = null;
                                    
                                    // Double check that there's a current record. If not, don't do anything to the obstetrics record.
                                    updatedRecord = angular.copy(obstetricsRecords.filter(value => value.currentRecord)[0]);
                                    updatedRecord.twins = ($scope.selectedVisit.isTwins === 'true') ? true: false;
                                    // Update the record
                                    $http.put("/iTrust2/api/v1/obstetricsRecord/" + updatedRecord.id, updatedRecord).then(
                                            function (response) {
                                                $scope.message += "\nObstetrics record updated successfully";
                                            }, function (rejection) {
                                                $scope.errorMsg = "\nError updating obstetrics record."
                                            });
                                }, function (rejection) {
                                    $scope.errorMsg = "\nError updating obstetrics record."
                                });
                        }, function (rejection) {
                            $scope.message = "";
                            $scope.errorMsg = "Error occurred creating office visit";
                        });
                    }
                } else {
                    $scope.message = "";
                    $scope.errorMsg = "Invalid office visit type";
                }

            } //end submit function

            $scope.noteEntry = "";
            $scope.codeEntry = "";

            $scope.drugEntry = "";
            $scope.dosageEntry = "";
            $scope.startEntry = "";
            $scope.endEntry = "";
            $scope.renewalEntry = "";

            $scope.loincEntry = "";
            $scope.priorityEntry = "";
            $scope.techEntry = "";

            $scope.procedure = {};
            $scope.procedures = [];

            // Clears local variables for diagnosis form
            function resetDiagnosisForm() {
                $scope.noteEntry = "";
                $scope.codeEntry = "";
            }

            // Clears local variables for prescription form
            function resetPrescriptionForm() {
                $scope.drugEntry = "";
                $scope.dosageEntry = "";
                $scope.startEntry = "";
                $scope.endEntry = "";
                $scope.renewalEntry = "";
            }

            // Capture each diagnosis into an array
            $scope.diagnoses = [];
            $scope.eyediagnoses = [];
            $scope.fillDiagnosis = function () {
                $scope.errorMsg = "";
                var d = {
                    note: $scope.noteEntry,
                    code: $scope.codeEntry
                }
                var err = checkValidDiagnosis(d);
                if (err) {
                    $scope.errorMsg = err;
                    $scope.message = "";
                } else {
                    $scope.diagnoses.push(d);
                    resetDiagnosisForm();
                }
            }

            $scope.fillEyeDiagnosis = function () {
                $scope.errorMsg = "";
                if(!$scope.eyediagnoses.includes($scope.codeEntry))
                	$scope.eyediagnoses.push($scope.codeEntry);
                resetDiagnosisForm();
            }

            //capture each prescription into an array
            $scope.prescriptions = [];
            $scope.fillPrescription = function () {
                $scope.errorMsg = "";
                var p = {
                    drug: $scope.drugEntry,
                    dosage: $scope.dosageEntry,
                    startDate: $scope.startEntry,
                    endDate: $scope.endEntry,
                    renewals: $scope.renewalEntry
                }
                
                var err = checkValidPrescription(p);
                if (err) {
                    $scope.errorMsg = err;
                    $scope.message = "";
                } else {
                    p.startDate = dateTimeService.toDateString(p.startDate);
                    p.endDate = dateTimeService.toDateString(p.endDate);
                    $scope.prescriptions.push(p);
                    resetPrescriptionForm();
                }
            }

            /*Adding a procedure to Office visit*/
            $scope.addProcedure = function () {
                var procCopy = {};
                $scope.errorMsg = "";
                $scope.procedure.patient = $scope.visit.actualPatient.self;
                $scope.procedure.status = "ASSIGNED";
                angular.copy($scope.procedure, procCopy);
                var err = checkValidProcedure($scope.procedure);
                if (err) {
                    $scope.errorMsg = err;
                    $scope.message = "";
                } else {
                    $scope.procedures.push(procCopy);
                    $scope.procedure = {};
                    $scope.message = "Lab procedure added successfully";
                }
            }

            //remove local diagnosis from list
            $scope.removeDiagnosis = function ($index) {
                $scope.diagnoses.splice($index, 1);
            }

            //remove local eye diagnosis from list
            $scope.removeEyeDiagnosis = function ($index) {
                $scope.eyediagnoses.splice($index, 1);
            }

            //remove local prescription from list
            $scope.removePrescription = function ($index) {
                $scope.prescriptions.splice($index, 1);
            }

            //remove local procedure from list
            $scope.removeProcedure = function ($index) {
                $scope.procedures.splice($index, 1);
            }

            //call initally
            resetDiagnosisForm();
            resetPrescriptionForm();
        });
                /*]]>*/
            </script>

		<div ng-app="myApp" ng-controller="documentLaborAndDeliveryReports" class="row">
			<div class="col-md-3">
				<h2>Patients:</h2>
				<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
                    and https://docs.angularjs.org/api/ng/filter/filter -->
				<h4>
					Search: <input type="text" name="search" ng-model="searchFilter" />
				</h4>
				<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
				<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
				<div>
					<div class="radio"
						ng-repeat="patient in patients | filter:filterPatients">
						<label> <input type="radio" id="{{patient.self.username}}"
							ng-model="$parent.selectedPatient" name="patient"
							value="{{patient.self.username}}"
							ng-click='$parent.selectPatient(patient)' />
							&nbsp;{{$parent.displayName(patient)}}
						</label>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>Reports:</h3>
					</div>
					<div class="panel-body">
						<div style="margin-left: 10px;">
							<div ng-if="Object.keys(laborDeliveryReports).length > 0"></div>

							<div class="radio" ng-repeat="(date, entry) in laborDeliveryReports">
								<label> <input type="radio"
									ng-model="$parent.selectedDate" name="date" value="{{date}}"
									required="true" /> {{date | date : 'MM/dd/yyyy'}}
								</label>
							</div>

							<div ng-if="!selectedPatient">Please select a patient to view their labor and delivery Reports.</div>
							<div
								ng-if="selectedPatient && (!laborDeliveryReports || Object.keys(laborDeliveryReports).length == 0)">
								There are no labor and delivery reports for this patient.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>
							<b>View Labor and Delivery Reports</b>
						</h3>
					</div>
					<div class="panel-body">
						<div ng-hide="selectedDate">Please select a delivery report</div>
						<div class="panel panel-primary" ng-show="selectedDate"
							ng-repeat="(date, Reports) in diaryReports"
							ng-if="date == selectedDate">
							<div class="panel-heading">
								<h3>
									<b>Labor:</b>
								</h3>
								<div class="panel panel-default">
									<div class="panel-body">

										<div class="form-group col-md-2">
										<label for="date">Date:</label> <input id="date" type="date"
											class="form-control" ng-model="selectedReport.date" name="date"
											ng-change="patientSelect(null);" required="true" />
										</div>
										
										<div class="form-group col-md-2">
										<label for="time">Time:</label> <input id="time" type="time"
											name="time" class="form-control" ng-model="selectedReport.time"
											required="true" />
										</div>
										


									</div>


									<!-- Delivery Panel -->
									<div class="col-md-8">
										<div class="panel panel-info">
											<div class="panel-heading">
												<h4>Delivery:</h4>
											</div>
											<div class="panel-body">
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Date:</label>
													</div>
													<div class="col-xs-6">
														<input type="date" class="form-control" name="dateDelivery"
															ng-model="dateDelivery" required />
													</div>
												</div>
												<div class="form-group row">
													<label for="deliveryTime">Time:</label> <input id="deliveryTime" type="time"
											name="time" class="form-control" ng-model="deliveryTime"
											required="true" />
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Type:</label>
													</div>
													<div class="col-xs-6 ">
														<ul style="list-style: none;">
																<li ng-repeat="deliveryType in deliveryType"><label>
																		<input type="radio"
																		ng-model="$parent.selectedReport.deliveryType"
																		name="deliveryType" value="{{selectedReport.deliveryType}}"
																		required="true" /> {{selectedReport.deliveryType}}
																</label></li>
															</ul>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Weight:</label>
													</div>
													<div name='weightOne' class="col-xs-6">
														<input class="form-control" name="weightOne"
															ng-model="selectedReport.weightOne" required="true" type="text">
														</div>
													<div name='weightTwo' class="col-xs-6">
														<input class="form-control" name="weightTwo"
															ng-model="selectedReport.weightTwo" required="true" type="text">
														</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Length:</label>
													</div>
													<div name='length' class="col-xs-6">
														<input class="form-control" name="length"
															ng-model="selectedReport.length" required="true" type="text">
														</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Heart Rate:</label>
													</div>
													<div name='heartRate' class="col-xs-6">
														<input class="form-control" name="heartRate"
															ng-model="selectedReport.heartRate" required="true" type="text">
														</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Blood Pressure:</label>
													</div>
													<div name='bloodPressure' class="col-xs-6">
														<input class="form-control" name="bloodPressure"
															ng-model="selectedReport.bloodPressure" required="true" type="text">
														</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>First Name:</label>
													</div>
													<div name='firstName' class="col-xs-6">
														<input class="form-control" name="firstName"
															ng-model="selectedReport.firstName" required="true" type="text">
														</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Last Name:</label>
													</div>
													<div name='lastName' class="col-xs-6">
														<input class="form-control" name="lastName"
															ng-model="selectedReport.lastName" required="true" type="text">
														</div>
												</div>


											</div>
										</div>
									</div>

									<!-- Twin Delivery Panel -->
									<div class="col-md-8" ng-show="isTwins">
										<div class="panel panel-info">
											<div class="panel-heading">
												<h4>Delivery:</h4>
											</div>
											<div class="panel-body">
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Date:</label>
													</div>
													<div name='date' class="col-xs-6">
														{{selectedReport.date}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Time:</label>
													</div>
													<div name='time' class="col-xs-6">
														{{selectedReport.date | date : 'shortTime'}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Type:</label>
													</div>
													<div class="col-xs-6 ">
														<div name='deliveryTypeTwin' class="form-check">
															{{selectedReport.deliveryTypeTwin}}</div>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Weight:</label>
													</div>
													<div name='weightOneTwin' class="col-xs-6">
														{{selectedReport.weightOneTwin}}</div>
													<div name='weightTwoTwin' class="col-xs-6">
														{{selectedReport.weightTwoTwin}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Length:</label>
													</div>
													<div name='lengthTwin' class="col-xs-6">
														{{selectedReport.lengthTwin}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Heart Rate:</label>
													</div>
													<div name='heartRateTwin' class="col-xs-6">
														{{selectedReport.heartRateTwin}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Blood Pressure:</label>
													</div>
													<div name='bloodPressureTwin' class="col-xs-6">
														{{selectedReport.bloodPressureTwin}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>First Name:</label>
													</div>
													<div name='firstNameTwin' class="col-xs-6">
														{{selectedReport.firstNameTwin}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Last Name:</label>
													</div>
													<div name='lastNameTwin' class="col-xs-6">
														{{selectedReport.lastNameTwin}}</div>
												</div>


											</div>
										</div>
									</div>

								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		</div>
</body>

</html>