<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Patient Food Diary</title>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
                /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
                /*<![CDATA[*/
                var app = angular.module('myApp', []);
                app.controller('viewPatientReports', function ($scope, $http) {
                    $scope.Object = Object; // Allows for use of Object.keys()
                    $scope.diaryReports = {};

                    $scope.displayName = function (p) {
                        return p.firstName + " " + p.lastName + " (" + p.self.username + ")";
                    }

                    // documentation on Angular filters: https://docs.angularjs.org/api/ng/filter/filter
                    $scope.searchFilter = "";
                    $scope.filterPatients = function (patient) {
                        return ($scope.displayName(patient)).toLowerCase().match($scope.searchFilter.toLowerCase());
                    }

                    $http.get("/iTrust2/api/v1/patients").then(
                        function (response) {
                            $scope.patients = response.data;
                            $scope.hold = [];
                	        var counter = 0;
                	        for( i = 0; i < $scope.patients.length; i++){
                	          if($scope.patients[i].gender == "Female"){
                	            $scope.hold[counter] = $scope.patients[i];
                	         	  counter = counter + 1;
                	          }
                            }
                	        $scope.patients = $scope.hold;
                            $scope.selectPatient = function (patient) {
                                $scope.selectedDate = null; // Reset selected date

                                $scope.loadReports = function () {
                                    // Get Reports for selected patient
                                    $http.get("/iTrust2/api/v1/laborDeliveryReports/" + $scope.selectedPatient).then(
                                        function (response) {
                                            $scope.diaryReports = response.data || {};
                                            $scope.diaryReports = $scope.groupDates($scope.diaryReports, 'datetimeOfLabor');
                                            $scope.message = "";
                                            console.log($scope.diaryReports);
                                        },
                                        function (rejection) {
                                            $scope.diaryReports = [];
                                            $scope.message = "Could not display reports.";
                                        });
                                };

                                $scope.loadReports();
                            };
                        },
                        function (rejection) {
                            $scope.patient = null;
                        });

                    // Split entries into groups by date
                    $scope.groupDates = function (arr, key) {
                        var groups = {};

                        for (var i = 0; l = arr.length, i < l; i++) {
                            groups[arr[i][key]] = groups[arr[i][key]] || [];
                            groups[arr[i][key]].push(arr[i]);
                        }

                        // Sort the groups by date in reverse chronological order
                        const orderedGroups = {};
                        Object.keys(groups).sort( function( a, b ) { return b.localeCompare(a) } ).forEach(function(key) {
                            orderedGroups[key] = groups[key];
                        });

                        return orderedGroups;
                    };
                    
                    $scope.makeIt = function (){
                    	$scope.theReport = $scope.diaryReports[$scope.selectedDate];
                    	$scope.theReportDateLabor = new Date($scope.theReport[0].datetimeOfLabor);
                    	$scope.theReportDateDelivery = new Date($scope.theReport[0].datetimeOfDelivery);
                    	$scope.theReportWeightlbs = Math.floor($scope.theReport[0].weight);
                	 	$scope.theReportWeightoz = ($scope.theReport[0].weight % 1) * 16;
                        $scope.theReportDateDelivery2 = new Date($scope.theReport[0].secondDatetimeOfDelivery);
                        $scope.theReportWeightlbs2 = Math.floor($scope.theReport[0].secondWeight);
                    	$scope.theReportWeightoz2 = ($scope.theReport[0].secondWeight % 1) * 16;
                    }
                    
                });

                /*]]>*/
            </script>

		<div ng-app="myApp" ng-controller="viewPatientReports" class="row">
			<div class="col-md-3">
				<h2>Patients:</h2>
				<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
                    and https://docs.angularjs.org/api/ng/filter/filter -->
				<h4>
					Search: <input type="text" name="search" ng-model="searchFilter" />
				</h4>
				<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
				<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
				<div>
					<div class="radio"
						ng-repeat="patient in patients | filter:filterPatients">
						<label> <input type="radio" id="{{patient.self.username}}"
							ng-model="$parent.selectedPatient" name="patient"
							value="{{patient.self.username}}"
							ng-click='$parent.selectPatient(patient)' />
							&nbsp;{{$parent.displayName(patient)}}
						</label>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>Reports:</h3>
					</div>
					<div class="panel-body">
						<div style="margin-left: 10px;">
							<div ng-if="Object.keys(diaryReports).length > 0"></div>

							<div class="radio" ng-repeat="(date, entry) in diaryReports">
								<label> <input type="radio"
									ng-model="$parent.selectedDate" name="date" value="{{date}}" ng-click="makeIt()"
									required="true" /> {{date | date : 'MM/dd/yyyy'}}
								</label>
							</div>

							<div ng-if="!selectedPatient">Please select a patient to view their labor and delivery Reports.</div>
							<div
								ng-if="selectedPatient && (!diaryReports || Object.keys(diaryReports).length == 0)">
								There are no labor and delivery reports for this patient.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>
							<b>View Labor and Delivery Reports</b>
						</h3>
					</div>
					<div class="panel-body">
						<div ng-if="!selectedPatient">Please select a patient to view their labor and delivery reports.</div>
						<div ng-if="selectedPatient && !selectedDate">Please select a delivery report.</div>
						<div ng-repeat="(date, report) in diaryReports"
							ng-if="date == selectedDate">
						
							<!-- Labor Panel -->
							<div class="col-md-12">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h4>
											<b>Labor:</b>
										</h4>
									</div>
									<div class="panel-body">
										<div class="form-group row">
											<div class="col-xs-6">
												<label for="selected-dateOfLabor">Date:</label>
												<div name='date'> {{theReportDateLabor | date : 'MM/dd/yyyy'}}</div>
											</div>
											<div class="col-xs-6">
												<label for="selected-timeOfLabor">Time:</label> 
												<div name='time'> {{theReportDateLabor | date : 'shortTime'}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
	
	
							<!-- Delivery Panel -->
							<div class="col-md-6">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h4>Delivery:</h4>
									</div>
									<div class="panel-body">
										<div class="form-group row">
											<div class="col-xs-3">
												<label>Date:</label>
											</div>
											<div class="col-xs-6">
												<div name='date'> {{theReportDateDelivery | date : 'MM/dd/yyyy'}}</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-xs-6">
												<label>Time:</label>
											</div>
											<div class="col-xs-6">
												<div name='time'> {{theReportDateDelivery | date : 'shortTime'}}</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-xs-6">
												<label>Type:</label>
											</div>
											<div class="col-xs-6">
												<div name='type'> {{theReport[0].deliveryMethod}}</div>
											</div>
										</div>
										<div ng-if="theReport[0].deliveryMethod !== 'Miscarriage'">
											<div class="form-group row">
												<div class="col-xs-5">
													<label>Weight:</label>
												</div>
												<div name='selected-weightlbs' class="col-xs-4">
													<div name='lbs'> {{theReportWeightlbs}}</div>
												</div>
												<div class="col-xs-3">
													<span id="helpBlock" class="help-block">lbs</span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-5"></div>
												<div name='selected-weightoz' class="col-xs-4">
													<div name='oz'> {{theReportWeightoz}}</div>
												</div>
												<div class="col-xs-3">
													<span id="helpBlock" class="help-block">oz</span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-5">
													<label>Length:</label>
												</div>
												<div name='selected-length' class="col-xs-4">
													<div name='length'> {{theReport[0].length}}</div>
												</div>
												<div class="col-xs-3">
													<span id="helpBlock" class="help-block">in</span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-5">
													<label>Heart Rate:</label>
												</div>
												<div name='selected-heartRate' class="col-xs-4">
													<div name='heartRate'> {{theReport[0].heartRate}}</div>
												</div>
												<div class="col-xs-3">
													<span id="helpBlock" class="help-block">BPM</span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-5">
													<label>Blood Pressure:</label>
												</div>
												<div name='selected-bloodPressure' class="col-xs-4">
													<div name='bp'> {{theReport[0].bloodPressure}}</div>
												</div>
												<div class="col-xs-3">
													<span id="helpBlock" class="help-block">MoM</span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-6">
													<label>First Name:</label>
												</div>
												<div name='selected-firstName' class="col-xs-6">
													<div name='firstName'> {{theReport[0].firstName}}</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-6">
													<label>Last Name:</label>
												</div>
												<div name='selected-lastName' class="col-xs-6">
													<div name='lastName'> {{theReport[0].lastName}}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
	
							<!-- Twin Delivery Panel -->
							<div class="col-md-6" ng-show="theReport[0].obstetricsRecord.twins">
								<div class="panel panel-info">
									<div class="panel-heading">
										<h4>Delivery:</h4>
									</div>
									<div class="panel-body">
										<div class="form-group row">
											<div class="col-xs-3">
												<label>Date:</label>
											</div>
											<div class="col-xs-9">
												<div name='dateDel2'> {{theReportDateDelivery2 | date : 'MM/dd/yyyy'}}</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-xs-6">
												<label>Time:</label>
											</div>
											<div class="col-xs-6">
												<div name='timeDel2'> {{theReportDateDelivery2 | date : 'shortTime'}}</div>
											</div>
										</div>
										<div class="form-group row">
											<div class="col-xs-6">
												<label>Type:</label>
											</div>
											<div class="col-xs-6">
												<div name='type2'> {{theReport[0].secondDeliveryMethod}}</div>
											</div>
										</div>
										<div ng-if="theReport[0].secondDeliveryMethod !== 'Miscarriage'">
											<div class="form-group row">
												<div class="col-xs-5">
													<label>Weight:</label>
												</div>
												<div name='selected-secondWeightlbs' class="col-xs-4">
													<div name='lbs2'> {{theReportWeightlbs2}}</div>
												</div>
												<div class="col-xs-3">
													<span id="helpBlock" class="help-block">lbs</span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-5"></div>
												<div name='selected-secondWeightoz' class="col-xs-4">
													<div name='oz2'> {{theReportWeightoz2}}</div>
												</div>
												<div class="col-xs-3">
													<span id="helpBlock" class="help-block">oz</span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-5">
													<label>Length:</label>
												</div>
												<div name='selected-secondLength' class="col-xs-4">
													<div name='length2'> {{theReport[0].secondLength}}</div>
												</div>
												<div class="col-xs-3">
													<span id="helpBlock" class="help-block">in</span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-5">
													<label>Heart Rate:</label>
												</div>
												<div name='selected-secondHeartRate' class="col-xs-4">
													<div name='heartRate2'> {{theReport[0].secondHeartRate}}</div>
												</div>
												<div class="col-xs-3">
													<span id="helpBlock" class="help-block">BPM</span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-5">
													<label>Blood Pressure:</label>
												</div>
												<div name='selected-secondBloodPressure' class="col-xs-4">
													<div name='bp2'> {{theReport[0].secondBloodPressure}}</div>
												</div>
												<div class="col-xs-3">
													<span id="helpBlock" class="help-block">MoM</span>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-6">
													<label>First Name:</label>
												</div>
												<div name='selected-secondFirstName' class="col-xs-6">
													<div name='firstName2'> {{theReport[0].secondFirstName}}</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-xs-6">
													<label>Last Name:</label>
												</div>
												<div name='selected-secondLastName' class="col-xs-6">
													<div name='lastName2'> {{theReport[0].secondLastName}}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>