<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
<title>View Patient Food Diary</title>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
                /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
                /*<![CDATA[*/
                var app = angular.module('myApp', []);
                app.controller('viewPatientReports', function ($scope, $http) {
                    $scope.Object = Object; // Allows for use of Object.keys()
                    $scope.diaryReports = {};

                    $scope.displayName = function (p) {
                        return p.firstName + " " + p.lastName + " (" + p.self.username + ")";
                    }

                    // documentation on Angular filters: https://docs.angularjs.org/api/ng/filter/filter
                    $scope.searchFilter = "";
                    $scope.filterPatients = function (patient) {
                        return ($scope.displayName(patient)).toLowerCase().match($scope.searchFilter.toLowerCase());
                    }

                    $http.get("/iTrust2/api/v1/patients").then(
                        function (response) {
                            $scope.patients = response.data;
                            $scope.hold = [];
                	        var counter = 0;
                	        for( i = 0; i < $scope.patients.length; i++){
                	          if($scope.patients[i].gender == "Female"){
                	            $scope.hold[counter] = $scope.patients[i];
                	         	  counter = counter + 1;
                	          }
                            }
                	        $scope.patients = $scope.hold;
                            $scope.selectPatient = function (patient) {
                                $scope.selectedDate = null; // Reset selected date

                                $scope.loadReports = function () {
                                    // Get Reports for selected patient
                                    $http.get("/iTrust2/api/v1/laborDeliveryReports/" + $scope.selectedPatient).then(
                                        function (response) {
                                            $scope.diaryReports = response.data || {};
                                            $scope.diaryReports = $scope.groupDates($scope.diaryReports, 'date');
                                            $scope.message = "";
                                            console.log($scope.diaryReports);
                                        },
                                        function (rejection) {
                                            $scope.diaryReports = [];
                                            $scope.message = "Could not display reports.";
                                        });
                                };

                                $scope.loadReports();
                            };
                        },
                        function (rejection) {
                            $scope.patient = null;
                        });

                    // Split entries into groups by date
                    $scope.groupDates = function (arr, key) {
                        var groups = {};

                        for (var i = 0; l = arr.length, i < l; i++) {
                            groups[arr[i][key]] = groups[arr[i][key]] || [];
                            groups[arr[i][key]].push(arr[i]);
                        }

                        // Sort the groups by date in reverse chronological order
                        const orderedGroups = {};
                        Object.keys(groups).sort( function( a, b ) { return b.localeCompare(a) } ).forEach(function(key) {
                            orderedGroups[key] = groups[key];
                        });

                        return orderedGroups;
                    };
                });

                app.filter('sumByColumn', function () {
                    return function (collection, column, serving) {
                        var total = 0;

                        collection.forEach(function (item) {
                            total += parseInt(item[serving]) * parseInt(item[column]);
                        });

                        return total;
                    };
                })
                /*]]>*/
            </script>

		<div ng-app="myApp" ng-controller="viewPatientReports" class="row">
			<div class="col-md-3">
				<h2>Patients:</h2>
				<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
                    and https://docs.angularjs.org/api/ng/filter/filter -->
				<h4>
					Search: <input type="text" name="search" ng-model="searchFilter" />
				</h4>
				<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
				<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
				<div>
					<div class="radio"
						ng-repeat="patient in patients | filter:filterPatients">
						<label> <input type="radio" id="{{patient.self.username}}"
							ng-model="$parent.selectedPatient" name="patient"
							value="{{patient.self.username}}"
							ng-click='$parent.selectPatient(patient)' />
							&nbsp;{{$parent.displayName(patient)}}
						</label>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>Reports:</h3>
					</div>
					<div class="panel-body">
						<div style="margin-left: 10px;">
							<div ng-if="Object.keys(diaryReports).length > 0"></div>

							<div class="radio" ng-repeat="(date, entry) in diaryReports">
								<label> <input type="radio"
									ng-model="$parent.selectedDate" name="date" value="{{date}}"
									required="true" /> {{date | date : 'MM/dd/yyyy'}}
								</label>
							</div>

							<div ng-if="!selectedPatient">Please select a patient to view their labor and delivery Reports.</div>
							<div
								ng-if="selectedPatient && (!diaryReports || Object.keys(diaryReports).length == 0)">
								There are no labor and delivery reports for this patient.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>
							<b>View Labor and Delivery Reports</b>
						</h3>
					</div>
					<div class="panel-body">
						<div ng-hide="selectedDate">Please select a delivery report</div>
						<div class="panel panel-primary" ng-show="selectedDate"
							ng-repeat="(date, Reports) in diaryReports"
							ng-if="date == selectedDate">
							<div class="panel-heading">
								<h3>
									<b>Labor:</b>
								</h3>
								<div class="panel panel-default">
									<div class="panel-body">


										<div class="form-group row">
											<div class="col-xs-6">
												<label>Date:</label>
											</div>
											<div name='date' class="form-group col-md-2">
												{{Reports.date | date : 'MM/dd/yyyy'}}</div>
										</div>
										<div class="form-group row">
											<div class="col-xs-6">
												<label>Time:</label>
											</div>
											<div name='time' class="form-group col-md-2">
												{{selectedVisit.date | date : 'shortTime'}}</div>
										</div>


									</div>



									<!-- Delivery Panel -->
									<div class="col-md-8">
										<div class="panel panel-info">
											<div class="panel-heading">
												<h4>Delivery:</h4>
											</div>
											<div class="panel-body">
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Date:</label>
													</div>
													<div name='dateDelivery' class="form-group col-md-2">
														{{selectedVisit.dateDelivery | date : 'MM/dd/yyyy'}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Time:</label>
													</div>
													<div name='deliveryTime' class="form-group col-md-2">
														{{selectedVisit.deliveryTime | date : 'shortTime'}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Type:</label>
													</div>
													<div class="col-xs-6 ">
														<div name='deliveryType' class="form-check">
															{{selectedVisit.deliveryType}}</div>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Weight:</label>
													</div>
													<div name='weightOne' class="col-xs-6">
														{{selectedVisit.weightOne}}</div>
													<div name='weightTwo' class="col-xs-6">
														{{selectedVisit.weightTwo}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Length:</label>
													</div>
													<div name='length' class="col-xs-6">
														{{selectedVisit.length}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Heart Rate:</label>
													</div>
													<div name='heartRate' class="col-xs-6">
														{{selectedVisit.heartRate}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Blood Pressure:</label>
													</div>
													<div name='bloodPressure' class="col-xs-6">
														{{selectedVisit.bloodPressure}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>First Name:</label>
													</div>
													<div name='firstName' class="col-xs-6">
														{{selectedVisit.firstName}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Last Name:</label>
													</div>
													<div name='lastName' class="col-xs-6">
														{{selectedVisit.lastName}}</div>
												</div>


											</div>
										</div>
									</div>

									<!-- Twin Delivery Panel -->
									<div class="col-md-8" ng-show="isTwins">
										<div class="panel panel-info">
											<div class="panel-heading">
												<h4>Delivery:</h4>
											</div>
											<div class="panel-body">
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Date:</label>
													</div>
													<div name='date' class="col-xs-6">
														{{selectedVisit.date}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Time:</label>
													</div>
													<div name='time' class="col-xs-6">
														{{selectedVisit.date | date : 'shortTime'}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Type:</label>
													</div>
													<div class="col-xs-6 ">
														<div name='deliveryTypeTwin' class="form-check">
															{{selectedVisit.deliveryTypeTwin}}</div>
													</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Weight:</label>
													</div>
													<div name='weightOneTwin' class="col-xs-6">
														{{selectedVisit.weightOneTwin}}</div>
													<div name='weightTwoTwin' class="col-xs-6">
														{{selectedVisit.weightTwoTwin}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Length:</label>
													</div>
													<div name='lengthTwin' class="col-xs-6">
														{{selectedVisit.lengthTwin}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Heart Rate:</label>
													</div>
													<div name='heartRateTwin' class="col-xs-6">
														{{selectedVisit.heartRateTwin}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Blood Pressure:</label>
													</div>
													<div name='bloodPressureTwin' class="col-xs-6">
														{{selectedVisit.bloodPressureTwin}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>First Name:</label>
													</div>
													<div name='firstNameTwin' class="col-xs-6">
														{{selectedVisit.firstNameTwin}}</div>
												</div>
												<div class="form-group row">
													<div class="col-xs-6">
														<label>Last Name:</label>
													</div>
													<div name='lastNameTwin' class="col-xs-6">
														{{selectedVisit.lastNameTwin}}</div>
												</div>


											</div>
										</div>
									</div>

								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>